<html>
  <head>
    <title>Welcome Email</title>
  </head>
  <body>
    <h1>Hello, {{firstName}}!</h1>
    <p>Welcome to our platform.</p>
    <p>Click <a href='{{resetPasswordUrl}}'>here</a> to reset your password.</p>
  </body>
</html>